<div id="mapContainerId">
    <header id="mapHeaderId">
        <h1 *ngIf="mapService.currentArea">{{mapService.currentArea.n}}</h1>
    </header>
    <!--<div class="general-map-container">-->
    <!--  <app-map-left-bar></app-map-left-bar>-->

    <div id="mapId" class="map-container">
        <svg id="rootSVG" viewBox="0 0 1000 1000"></svg>
    </div>

    <app-map-right-bar id="mapScoreId" [score]="mapService.score"></app-map-right-bar>
</div>


<!--</div>-->

<!--<div class="container-1">-->
<!--    <div class="div-1">1</div>-->
<!--    <div class="div-2">2</div>-->
<!--</div>-->





