$text-size: 0.8rem;
$text-container-size: 1.2rem;

$header-height: $text-container-size * 2;
$map-height: calc(100% - #{$text-container-size * 3.5});
$score-height: $text-container-size * 1.5;

$header-width: $text-container-size * 3;
$map-width: calc(100% - #{$text-container-size * 5});
$score-width: $text-container-size * 2;




#mapContainerId {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


  #mapHeaderId {
    height: $header-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: lighten(black, 20%);
    z-index: 1;

    h1 {
      margin: 0;
      font-size: 125%;
    }
  }

  #mapId {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $map-height;
    width: 100%;

    #rootSVG {
      height: 100%;
      width: 100%;
    }

    .map-area {
      fill: white;
      //transition: fill 2s ease-out;
      stroke: black;
      stroke-width: 0.25;

      //&:hover:not(.correct):not(.wrong) {
      //  //fill: #FFBD33;
      //  fill: #fdbe61;
      //  //fill-opacity: 0.5;
      //  cursor: pointer;
      //}

      &.correct {
        fill: green;
      }

      &.wrong {
        fill: red;
      }
    }

    .line-path {
      fill: none;
      stroke: white;
      stroke-width: 4;
    }
  }

  #mapScoreId {
    height: $score-height;
    width: 100%;
    background: lighten(black, 20%);
  }
}


@media screen and (orientation: landscape) {
  #mapContainerId {
    flex-direction: row;

    #mapHeaderId {
      height: 100%;
      width: $header-width;
      flex-direction: row;
      writing-mode: vertical-lr;
      text-orientation: upright;
      text-transform: uppercase;
      text-align: center;
      //text-justify: inter-character;

      h1 {
        font-size: 80%;
      }
    }

    #mapId {
      height: 100%;
      width: $map-width;
    }

    #mapScoreId {
      height: 100%;
      width: $score-width;
    }
  }

}






